#if ($pair.size() > 1)
<div class="random-names">

    <p class="arrows">&rarr; &nbsp &nbsp</p>
    <p class="random-name">$pair.get(0) </p>
    <p class="random-name"> &nbsp & &nbsp </p>
    <p class="random-name">$pair.get(1) </p>
    <p class="arrows">&nbsp &nbsp&larr;</p>

</div>

#else #if ($pair.size() == 1)
<div class="random-names">
    <p>$pair.get(0)</p>
</div>

#else
<div class="random-names">
    <h1>NO MORE NAMES</h1>
    <p>$pair.get(0)</p>
</div>

#end
#end