body {
  background-color: black;
  color: white;
 font-family: 'Bangers', cursive;
 }

 .main-page{
   display: flex;
   flex-direction: column;
 }

/* NAME DISPLAY */

.names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 75px;
  padding-right: 75px;
}

.individual_names {
  text-align: center;
  display: inline-block;
  width: 85px;
  border: solid 1px black;
  font-size:  25px;
  padding-left: 35px;
  padding-right: 35px;
}


p.rainbow {
  -webkit-animation: rainbow 10s infinite;
   display: flex;
   justify-content: center;
   align-content: center;
   font-size: 72px;
   padding-top: 25px;
   margin: 0px;
   text-decoration: none;
}

@-webkit-keyframes rainbow{
  25%{color: #00ff00;}
  50%{colour: #ffffff;}
  75%{color: #ff0000;}
  100%{colour: #ffffff;}
}

a.rainbow-link {
  text-decoration: none;
}

.random-name {
  display: inline;
  font-size: 60px;
}

.random-names {
 display: flex;
 justify-content: center;
 align-content: center;
}

p.arrows {
  font-size: 55px;
  -webkit-animation: rainbow 0.5s infinite;
}


/* BUTTONS  */

input.button {
  color: white;
  width: auto;
  text-align: center;
}

input.button:hover {
  background-color: lightred;
  color: black;
}

form.button-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.random-button-container {
  padding-top: 50px;
  /* display: flex; */
  /* align-items: flex-end;
  justify-content: space-evenly; */
  text-align:justify;
  display: inherit;
  position: fixed;
  bottom: 0;
  padding-left: 50px;
  padding-right: 50px;
}


input[type=submit]{
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

input[type=text]{
    font-family: 'Bangers', cursive;
    font-size: 25px;
    color: black;
}

#random-name-button, #random-pair-button {
  background-color: green;
}

#reset-button {
  background-color: red;
}
